@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.carousel .carousel-item {
    height: 500px;
}
.carousel-item img{
    height: 584px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.caption-center{
    transform: translateY(-50%);
    bottom: 0;
    top:50%;
}
.wedding-special{
    transform: translateY(-10%);
    background-color:#9AD0EC;
    border-radius: 30px;
    height:100%;
}
.button-style{
background-color:#9AD0EC;
color:#135c81;
}
.footer-style{
    font-family: 'Manrope', sans-serif;
}

